.cursos-estudiante-container {
  display: flex;
  height: 100vh;
  background-color: #00bfff; /* Fondo azul claro */
  padding: 20px;
}

.sidebar {
  width: 25%;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.usuario {
  font-size: 1.5rem;
  color: #333;
}

.editar-perfil {
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: auto; /* Mueve el botón hacia la parte inferior */
}

.main-content {
  flex-grow: 1;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buscar-curso {
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  float: right;
}

.cursos {
  margin-top: 40px;
}

.curso {
  background-color: #00bfff;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
}
